<main>
    <h1>
        Available Methods
    </h1>

    <!-- whenever the list size changes, the animation triggers -->
    <section [@listAppear]="methodList.length">
        <!-- looping through the list of visible methods -->
        @for (method of methodList; track $index) {
            <app-method [method]="method"></app-method>
        }
    </section>

    <aside>
        <h2>Controls</h2>
            <div>
                <button (click)="addMethod()" 
                        [disabled]="!extraMethods[0]">ADD</button>
                <button (click)="removeMethod()" 
                        [disabled]="!methodList[0]">REMOVE</button>
                <button (click)="addAllMethods()" 
                        [disabled]="!extraMethods[0]">ADD ALL</button>
                <button (click)="removeAllMethods()" 
                        [disabled]="!methodList[0]"> REMOVE ALL</button>
            </div>
      </aside>

</main>