<main>

  <h1>Simultaneous</h1>
  
  <!-- this time, each box tracks its own state -->
  <section>
    @for (box of [0, 1, 2, 3]; track $index) {
      <div [@moveBoxes]="positions[box]">{{ box + 1 }}</div>
    }
  </section>

  <aside>
    <h2>Controls</h2>
      <div>
        <button (click)="reset()"
                [disabled]="positions[0] === 'tl'">RESET</button>
        <button (click)="clockwise()">CLOCKWISE</button>
        <button (click)="counterClockwise()">COUNTER-CLOCKWISE</button>
      </div>
  </aside>

</main>
