<main>
    <h1>
        Sliding Puzzle
    </h1>

    <section>
        <!-- each tile from the array has dynamic content -->
        <!-- method function, tracking, color, image slice, number -->
        @for (tile of tiles; track $index) {
            <div (click)="slide($index, tile[1])"
                 [@moveTile]="tiles[$index][1]" 
                 [class]="'slot' + $index"
                 [ngStyle]="{ 'background-image': 'url(' + puzzleImage + ')',
                              'background-color': 'hsl(0, 0%, ' + ($index * 5 + 15) + '%)' }">
                 <span *ngIf="numbersAreVisible">{{ $index + 1 }}</span>
            </div>
        }

    </section>

    <aside>
        <h2>Switch Image</h2>
        <div>
            <button (click)="switchPuzzleImage(logo)"
                    [disabled]="puzzleImage === logo">SWIRL</button>
            <button (click)="switchPuzzleImage(mackinator)"
                    [disabled]="puzzleImage === mackinator">BRAZIL</button>
            <button (click)="switchPuzzleImage(hanson)"
                    [disabled]="puzzleImage === hanson">GOAT</button>
            <button (click)="switchPuzzleImage('')"
                    [disabled]="puzzleImage === ''">COUNT</button>
        </div>

        <h2>Board Control</h2>
        <div>
            <button (click)="shuffleTiles()">SHUFFLE</button>
            <button (click)="resetTiles()"
                    [disabled]="grid[15][0] === 0 
                             && tiles[0][1] === 1
                             && tiles[1][1] === 2
                             && tiles[2][1] === 3
                             && tiles[3][1] === 4
                             && tiles[4][1] === 5
                             && tiles[5][1] === 6
                             && tiles[6][1] === 7
                             && tiles[7][1] === 8
                             && tiles[8][1] === 9
                             && tiles[9][1] === 10
                             && tiles[10][1] === 11
                             && tiles[11][1] === 12
                             && tiles[12][1] === 13
                             && tiles[13][1] === 14
                             && tiles[14][1] === 15">RESET</button>
        </div>
    </aside>

    
</main>