footer {
    color: white;
    padding: 8px 12px;
    background-image: linear-gradient(#1976d2 70%, white);
    text-align: right;
    height: 80px;
}

footer h6 {
    margin: 0 0 .25em 0;
    font-size: 14px;
}

footer p {
    margin: 0;
    font-size: 12px;
    font-style: italic;
}